<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>D:/maven local part</localRepository>
    <pluginGroups>
        <pluginGroup>org.apache.maven.plugins</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>myRepository1</id>
            <repositories>
                <repository>
                    <id>myRepository2_tencent</id>
                    <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>myRepository2</id>
            <repositories>
                <repository>
                    <id>myRepository1_aliyun</id>
                    <url>https://maven.aliyun.com/repository/central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <!-- 添加 mirror 避免被 maven-default-http-blocker 阻止 -->
            <pluginRepositories>
                <pluginRepository>
                    <id>myRepository1_aliyun</id>
                    <url>https://maven.aliyun.com/nexus/content/groups/public/</url>
                    <mirrorOf>myRepository2_tencent</mirrorOf>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>myRepository3</id>
            <repositories>
                <repository>
                    <id>myRepository3_ibiblio</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <!-- 添加 mirror 避免被 maven-default-http-blocker 阻止 -->
            <pluginRepositories>
                <pluginRepository>
                    <id>myRepository3_ibiblio</id>
                    <url>https://repo1.maven.org/maven2/</url>
                    <mirrorOf>myRepository3_ibiblio</mirrorOf>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>myRepository1</activeProfile>
        <activeProfile>myRepository2</activeProfile>
        <activeProfile>myRepository3</activeProfile>
    </activeProfiles>

    <profile>
        <id>JDK-1.8</id>
        <activation>
            <activeByDefault>true</activeByDefault>
            <jdk>1.8</jdk>
        </activation>
        <properties>
            <maven.compiler.source>1.8</maven.compiler.source>
            <maven.compiler.target>1.8</maven.compiler.target>
            <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
        </properties>
    </profile>
</settings>